<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href=" {% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>traingle calculator</h1>

    <form action=" {% url 'result' %} ">
        {% csrf_token %}
        <label for="name">name</label>
        <input type="text" name="user_name">
        <input type="submit" value="submit">
    </form>
</body>
</html>